<!DOCTYPE html>
<html ng-app="bookmarkApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bookmarks.js</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <!-- Bookmarks View -->
    <div ng-controller="bookmarksController">
      <input type="text" placeholder="Search {{bookmarks.length}} bookmarks" ng-model="searchText">

      <form ng-submit="createBookmark()">
        <input type="text" placeholder="Bookmark name" ng-model="bookmarkName"></input>
        <input type="text" placeholder="Bookmark url" ng-model="bookmarkUrl"></input>
        <button type="submit">Add</button>
      </form>

      <ul>
	<li ng-repeat="bookmark in bookmarks | filter:searchText">
	  <a href="{{bookmark.url}}">{{bookmark.name}}</a> - {{getHostname(bookmark.url)}}
	  <button ng-click="removeBookmark(bookmark)">Remove</button>
        </li>
      </ul>

    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers/bookmarks-controller.js"></script>
  </body>
</html>
