<!DOCTYPE html>
<html ng-app="bookmarking-app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>bookmarks.js</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="build/css/custom.min.css">
  </head>

  <body ng-controller="BookmarksController">
    <nav class="navbar navbar-default">
    	<div class="container-fluid">
    	  <div class="navbar-header">
    	    <a class="navbar-brand" href="#">bookmarks.js</a>

    	    <form class="navbar-form navbar-left" role="search">
    	      <div class="form-group">
          		<input type="text" class="form-control" placeholder="Search {{bookmarks.length}} bookmarks" ng-model="searchText">
    	      </div>
    	    </form>

    	    <button type="button" class="btn btn-default navbar-btn navbar-left" data-template="/views/modal-create.tpl.html" bs-modal="modal-create">
    	      Add
    	    </button>
    	  </div>
    	</div>
    </nav>

    <section>
      <ul id="bookmarks">
        <li class="no-results" ng-hide="(bookmarks | filter:searchText).length">No results found</li>

        <li class="bookmark" ng-repeat="bookmark in bookmarks | orderBy:bookmarkDate:true | filter:searchText">
          <button type="button" class="remove-bookmark btn btn-default btn-sm" data-template="/views/modal-delete.tpl.html" bs-modal="modal">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
      	  <h3 class="bookmark-name"><a ng-href="{{bookmark.url}}">{{bookmark.name}}</a></h3>
      	  <p class="bookmark-hostname">{{getHostname(bookmark.url)}}</p>
      	  <p class="bookmark-date">Added <span am-time-ago="bookmark.date"></span></p>
      	  <span class="bookmark-tag label label-primary" ng-repeat="tag in bookmark.tags">{{tag}}</span>
        </li>
      </ul>
    </section>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>

    <script src="/build/js/all.min.js"></script>
  </body>
</html>